<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Movie Selector</title>
  <meta name="description" content="Movie Selector">
  <meta name="author" content="Zolor">
  <style>
    p    {font-family: "Trebuchet MS", Helvetica, sans-serif;}
  </style>
</head>
<body>
  <div align="center">
  <img src="{{url_for("static", filename='movieselector_logo.png')}}" alt="Movie Selector">
   <p>
      The movie you should see next is: <b> {{ movie }} </b> <br/><br/>
      <a href={{ imdb_link }}>
      <img src={{ imdb_poster }} alt="Movie Poster"> <br />
      </a>
   </p>
  </div>
  <!script src="js/scripts.js"><!/script>
</body>
</html>