<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Movie Selector</title>
  <meta name="description" content="Movie Selector">
  <meta name="author" content="Zolor">
  <style>
    p,h2    {font-family: "Trebuchet MS", Helvetica, sans-serif;}
  </style>
</head>
<body>
  <div align="center">
  <img src="{{url_for("static", filename='movieselector_logo.png')}}" alt="Movie Selector">
   <h2><b>Error:</b></h2>
   <p>
      Your IMDB Watchlist appears to not be public :(
   </p>
  </div>
  <!script src="js/scripts.js"><!/script>
</body>
</html>
